@model CHLeMudra.Models.ResetPasswordModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="form_back">
    <h3>Forgot Password</h3>
    <div class="field_back">
        <div class="inner_widgrt">
            <div  style="max-width:500px;margin:auto">
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    if (Model.success)
                    {
                        <div>
                            <p class="legend">Password Sent </p>
                            <span style="color:green;font-size:12px;">@Model.msg</span>
                        </div>
                    }
                    else
                    {
                        <div class="input-container">
                            <i class="fa fa-envelope icon"></i>
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "input-field" })
                            
                        </div>
                        @Html.ValidationMessageFor(m => m.Email)
                        if (!string.IsNullOrEmpty(Model.msg))
                        {
                            <span style="color:red;font-size:12px;">@Model.msg</span>
                        }
                        <button type="submit" class="btn" value="Submit">Submit</button>

                            @*<div class="input">                               
                                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "small" })
                                <span class="fa fa-envelope icon"></span>
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <span style="color:red;font-size:12px;">@Model.msg</span>
                            <button type="submit" class="btn submit" value="Submit">Submit</button>*@
                     
                    }




                }
             
            </div>
        </div>
        <h4><a href="/Account/Login">Click here for login</a></h4>
    </div>
</div>